/* Custom Flags */
.hidden {
    display: none;
}

.btn {
    cursor: pointer;
}

.content {
    padding: 0px 0px 50px 0px;
}

.break-line {
    display: inline;
}

.no-break-line {
    display: flex;
    width: max-content;
}

.contacts-spacer {
    padding-top: 100px;
}

.spacer {
    padding-top: 50px;
}