/* Hide sidebar btn when screen larger than small landscape */
@media screen and (orientation: landscape) and (min-width: 1000.1px) {
	#menu-btn {
		display: none;
	}
}

/* Small landscape and portrait screen */
@media screen and (orientation: landscape) and (max-width: 1000px),
	screen and (orientation: portrait) {
	#header .nav-btn {
		display: none;
	}

	#menu-btn {
		height: 40px;
	}

	#header-logo {
		height: 70px;
	}
}

/* Normal landscape exclusive */
@media screen and (min-width: 1360.1px) {
	.development-feature#screen-size:after {
		content: "Normal Landscape";
	}
}

/* Medium landscape exclusive */
@media screen and (max-width: 1360px) {
	.development-feature#screen-size:after {
		content: "Medium Landscape";
	}

	#header .nav-btn {
		font-size: 22px;
		padding: 0px 40px;
	}

	#header {
		padding: 4px 35px;
	}

	#header-logo {
		height: 75px;
	}

	#avatar {
		height: 100%;
		width: 350px;
	}

	.content > div {
		padding: 0px 80px 50px 80px;
	}

	#synthv-img,
	#FL-img {
		height: 100%;
		width: 430px;
	}

	.audio-container {
		max-width: 480px;
	}

	.break-line {
		display: flex;
	}
}

/* Small landscape exclusive */
@media screen and (max-width: 1000px) {
	.development-feature#screen-size:after {
		content: "Small Landscape";
	}

	#header-logo {
		height: 45px;
	}

	#avatar {
		height: 100%;
		max-width: 25%;
	}

	/* #menu-btn {
        height: 30px;
    } */

	#header {
		padding: 6px 25px;
	}

	main p {
		font-size: 21px;
	}

	.content > div {
		padding: 0px 20px 50px 20px;
	}

	#synthv-img,
	#FL-img {
		height: 100%;
		width: 350px;
	}

	.audio-container {
		max-width: 380px;
	}

	.contact-text {
		font-size: 18px;
	}

	.contact-icon {
		max-width: 30px;
	}

	.pc {
		display: none;
	}
}

/* Portrait exclusive */
@media screen and (orientation: portrait) {
	.development-feature#screen-size:after {
		content: "Portrait";
	}

	#avatar-section-container {
		flex-direction: column;
		align-items: center;
	}

	#avatar {
		height: 100%;
		max-width: 200px;
	}

	#avatar-text-container {
		padding: 0;
		width: auto;
	}

	main p {
		font-size: 21px;
	}

	footer h3 {
		font-size: 10px;
	}

	.content-text {
		padding: 0px 20px 20px 20px;
	}

	.content > div {
		padding: 0px;
		flex-direction: column;
	}

	div.reverse {
		flex-direction: column-reverse;
	}

	.content-img {
		padding-bottom: 40px;
	}

	#synthv-img,
	#FL-img {
		height: auto;
		width: 95%;
	}

	.audio-container {
		max-width: 450px;
	}

	.audio-title {
		padding-left: 0px;
	}

	.audio-title p {
		font-size: 16px;
	}

	.vr {
		display: none;
	}

	#contact-links,
	#social-links {
		width: 100%;
	}
}

/* Alternate sidebar size for smaller screens */
@media screen and (max-height: 700px) {
	.sidebar a {
		font-size: 18px;
	}
}
